<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customUserDetails : ${users}">
        <td th:text="${customUserDetails.id}"></td>
        <td th:text="${customUserDetails.username}"></td>
        <td th:text="${customUserDetails.roles}"></td>
    </tr>
    </tbody>

</table>
<a href="/home">Home</a>
</body>
</html>
